@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --primary-color: #6366F1;
    --accent-color: #3f83f8;
    --text-color: #333333;
    --link-color: #2563eb;
    --background-color: #ffffff;
    --light-gray: #f0f0f0;
    --gray: #808080;
    --dark-gray: #555;
}
*{
     box-sizing: border-box;
}

*{
     margin: 0;
     padding: 0;
     font-family: 'Inter', sans-serif;
     text-decoration: none;
}

body{
     height: 100vh;
     text-align: center;
     background-color: var(--background-color);
     padding: 0.1rem;
}

/* Header Section */
.header-content{
     max-width: 1280px;
     margin: 0 auto;
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 1rem;
}

.logo{
     display: flex;
     align-items: center;
     font-size: 2rem;
     font-weight: bold;
     color: var(--text-color);
     text-decoration: none;
     gap: 0.625rem;
}

.logo-icon{
     width: 1.938rem;
     height: 5.875rem;
}

.logo-text{
     font-size: 2rem;
     font-weight: bold;
}

.nav{
     display: none;
     gap: 1.5rem;
}

@media screen and (min-width:768px) {
     .nav{
          display: flex;
     }
}

.nav-link{
     font-weight: 600;
     color: var(--gray);
     font-size: 1.125rem;
     transition: 0.1s;
}

.nav-link:hover{
     color: var(--link-color);
}

.contact-button{
     display: none;
     border: none;
     background-color: var(--primary-color);
     border-radius: 0.375rem;
     padding: 0.75rem 1.5rem;
     color: white;
     font-size: 1rem;
     font-weight: 600;
     transition: 0.1s;
}

.contact-button:hover{
     background-color: var(--link-color);
}

@media screen and (min-width: 768px) {
     .contact-button{
          display: flex;
     }
}

.menu-button{
     display: none;
     border: none;
     border-radius: 0.375rem;
     font-size: 1rem;
     font-weight: 600;
     background-color: var(--background-color);
     padding: 0.5rem 0.9rem;
}

@media screen and (max-width: 768px) {
     .menu-button{
          display: block;
     }
}

.menu-icon{
     height: 1.5rem;
     width: 1.5rem;
     background-color: var(--background-color);
     
}

/* Hero Section */
.main-section{
     max-width: 1280px;
     display: flex;
     flex-direction: column;
     gap: 2rem;
     margin: 0 auto;
     padding: 0.6rem;
     align-items: center;
}

/* Content Left */
.content-left{
     gap: 1rem;
     font-family: inter, sans-serif;
     animation: slideFromLeft 1s ease forwards;
     opacity: 0;
}

@keyframes slideFromLeft {
     0%{
          opacity: 0;
          transform: translateX(-100%);
     }
     100%{
          opacity: 1;
          transform: translateX(0);
     }
}

.section-label{
     font-size: 1.15rem;
     font-weight: 600;
     color: var(--primary-color);
}

.section-title{
     font-size: 2.3rem;
     color: var(--text-color);
     padding: 1.1rem;
}

.section-desc{
     font-size: 1.13rem;
     color: var(--gray);
}

.button-group{
     display: flex;
     justify-content: center;
     gap: 2rem;
     padding: 1rem;
     margin-top: 1rem;
}

.start-button, .tour-button{
     color: var(--background-color);
     font-size: 1rem;
     background-color: var(--accent-color);
     padding: 0.75rem 1.5rem;
     border-radius: 0.375rem;
     font-weight: 600;
     transition: all 0.1s;
}

.tour-button{
     background-color: var(--dark-gray);
}

.start-button:hover{
     background-color: var(--link-color);
}

.tour-button:hover{
     background-color: var(--gray);
}

/* Content Right */
.content-right{
     display: flex;
     align-items: center;
     justify-content: center;
}

.image-container{
     border-radius: 1.25rem;
     overflow: hidden;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
     height: 50vh;
}

.section-image{
     height: 100%;
     width: 100%;
}

@media screen and (min-width: 768px) {
     .main-section{
          flex-direction: row;
          margin: 0 auto;
     }
     .content-left{
          max-width: 50%;
          text-align: left;
     }
     .section-label{
          font-size: 1.15rem;
     }
     .section-title{
          padding-left: 0;
          font-size: 3.8rem;
     }
     .button-group{
          justify-content: start;
          padding-left: 0;
     }
     .image-container{
          height: 66.993vh;
     }
     .section-desc{
          font-size: 1.1rem;
          width: 78%;
     }
}

/* Company Section */
.comapany-container{
     /* height: 2rem; */
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     margin-top: 2rem;
     margin-bottom: 2rem;
     animation: slideFromLeft 1s ease forwards;
}

.company-title{
     font-size: 1.51rem;
}

.company-grid{
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     margin-top: 2rem;
     padding: 1.75rem 2.5rem;
     gap: 3.6rem;
     background-color: var(--light-gray);
     border-radius: 0.625rem;
}

.svg-img{
     height: 1.56rem;
     width: 1.485rem;
}

.Company-text{
     font-size: 1rem;
     font-weight: 500;
     color: var(--gray);
}

.company-logo{
     display: flex;
     align-items: center;
     gap: 0.5rem;
}

@media (min-width: 640px) {
     .company-grid{
     grid-template-columns: repeat(4, 1fr);
     }
     .company-title{
          font-size: 2.4rem;
     }
}

/* Placeholder Section */
.features{
     background-color: var(--light-gray);
     padding: 2.5rem 0;
}

.placeholder{
     padding: 0 2rem;
}

.placeholder-content{
     display: flex;
     flex-direction: column;
     gap: 1rem;
}

.placeholder-title{
     font-size: 2.3rem;
}

.placeholder-desc{
     color: var(--gray);
}

.card-container{
     display: grid;
     grid-template-columns: repeat(1,1fr);
     margin-top: 1.3rem;
     gap: 2rem;
}

@media (min-width: 768px) {
     .card-container{
          grid-template-columns: repeat(2, 1fr);
     }
     .placeholder{
          max-width: 800px;
          margin: 0 auto;
     }
}

.card-first, .card-second, .card-third, .card-forth, .card-fifth, .card-sixth{
     display: flex;
     flex-direction: column;
     gap: 1rem;
     padding: 1.6rem;
     border-radius: 1rem;
     background-color: #4A90E2;
     color: white;
}

.icon-container{
     height: 3rem;
     width: 3rem;
     border-radius: 50%;
     display: flex;
     justify-content: center;
     align-items: center;
     margin: 0 auto;
     background-color: var(--background-color);
}

.card-img{
     height: 1.5rem;
     width: 1.5rem;
}

.card-title{
     font-size: 1.3rem;
}

.card-second{
     background-color: #FF6289;
}

.card-third{
     background-color: #FCBF58;
}

.card-forth{
     background-color: #44BDC6;
}

.card-fifth{
     background-color: #77B05D;
}

.card-sixth{
     background-color: #7D78B1;
}

/* Testimonial Section */
.testimonial-conatainer{
     padding: 2rem;
}

.testimonial-content{
     display: flex;
     flex-direction: column;
     gap: 2rem;
}

.testimonial-title{
     font-size: 1.95rem;
}

.testimonial-grid{
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     gap: 2rem;
}

.testimonial-card{
     display: flex;
     flex-direction: column;
     padding: 1.2rem;
     gap: 1rem;
     border: 1px solid rgb(171, 163, 163);
     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
     border-radius: 1rem;
     transition: transform 0.3s ease, box-shadow 0.3s ease-in;
}

.testimonial-card:hover{
     transform: scale(1.05);
     border: 1.5px solid blue;
}

.testimonial-text{
     color: var(--dark-gray);
     font-size: 0.875rem;
}

.testimonial-img{
     height: 5rem;
     width: 5rem;
     margin: auto;
}

.testimonial-name{
     font-size: 1rem;
     color: var(--primary-color);
}

.testimonial-desc{
     font-size: 0.875rem;
     color: var(--gray);
}

@media (max-width: 699px) {
     .testimonial-grid{
          display: grid;
          grid-template-columns: repeat(1, 1fr);
          gap: 2rem;
     }
}

@media (min-width: 1030px) {
     .testimonial-grid{
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          gap: 2rem;
     }
     
     .testimonial-conatainer{
          max-width: 1280px;
          margin: auto;
     }
}

.newslatter{
     max-width: 1280px;
     display: flex;
     flex-direction: row;
}

.news-img{
     width: 50%;
}
